#shader {
  position: fixed;
  right: 1%;
  bottom: 1%;
  margin: 10% auto;
  z-index: 1030;
}
 
@media (max-width: 1550px) {
  body {
    font-size: xx-large;
  }
  
  #shader {
    display: none !important;
  }
}

